# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.g.dart
*.freezed.dart

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
*.iml

# Firebase
firebase_options.dart
functions/lib/
functions/node_modules/
.firebase/
*firebase-debug.log
*database-debug.log
*firestore-debug.log
*ui-debug.log

# Platform
android/local.properties
android/**/gradle-wrapper.jar
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
web/firebase-config.js

.DS_Store
